@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {
  background: #261A32;
  overflow-x: hidden;
}
b {
  font-weight: 700;
}
.carregando {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #FFDCC6;
  position: fixed;
  transition: opacity ease-in-out 0.75s, margin-top linear 0s 0.75s;
  opacity: 1;
  margin-top: 0;
}
.carregando.ok {
  margin-top: -100vh;
  opacity: 0;
}
@-webkit-keyframes titulo-show {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes titulo-show {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes ver-mais {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 7.5vh;
  }
  100% {
    bottom: 5vh;
  }
}
@keyframes ver-mais {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 7.5vh;
  }
  100% {
    bottom: 5vh;
  }
}
.ver-mais {
  width: 100%;
  height: 112vw;
  max-height: 100vh;
  position: absolute;
}
.ver-mais a {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
  right: 45px;
  transform: translateX(-50%);
  transition: all ease-in-out 0.2s;
  -webkit-animation: ver-mais 4s infinite;
  animation: ver-mais 4s infinite;
}
.ver-mais__titulo {
  position: absolute;
  bottom: 45px;
  left: 45px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
  font-weight: 300;
}
.ver-mais__titulo span {
  font-weight: 700;
}
@media (max-width: 770px) {
  .ver-mais__titulo {
    font-size: 5.85vw;
  }
}
@media (max-width: 700px) {
  .ver-mais {
    height: 112.4vw;
  }
  .ver-mais a {
    display: none;
  }
}
.banner-parallax {
  background: #A96FEF;
  background: -webkit-linear-gradient(-135deg, #A96FEF, #FFB700);
  background: linear-gradient(-135deg, #A96FEF, #FFB700);
  overflow: hidden;
  padding-bottom: 56.2%;
  position: relative;
  z-index: -2;
}
.banner-parallax__titulo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 30px;
  opacity: 0;
  padding-top: 150px;
  text-align: center;
  position: absolute;
  transition: all ease-in-out 100ms;
  z-index: -1;
}
.banner-parallax__titulo.ok {
  -webkit-animation: titulo-show 2s forwards;
  animation: titulo-show 2s forwards;
}
.banner-parallax__titulo .logo {
  transform: scale(2, 2);
}
.banner-parallax #prllx {
  width: 100%;
  display: block;
  position: absolute;
  z-index: -1;
}
@media (max-width: 1000px) {
  .banner-parallax {
    padding-bottom: 84.3%;
  }
  .banner-parallax #prllx {
    width: 150%;
  }
}
@media (max-width: 700px) {
  .banner-parallax {
    padding-bottom: 112.4%;
  }
  .banner-parallax #prllx {
    width: 200%;
  }
}
@media (max-width: 600px) {
  .banner-parallax__titulo {
    font-size: 10.8vw;
  }
  .banner-parallax__titulo span {
    font-size: 7.5vw;
  }
}
@media (max-width: 440px) {
  .banner-parallax__titulo .logo {
    width: 200px;
  }
}
@media (max-width: 330px) {
  .banner-parallax__titulo .logo {
    display: none;
  }
}
.container {
  box-sizing: border-box;
  max-width: 1100px;
  width: 100%;
  margin: 0 auto;
  padding: 75px 20px;
}
.container:after {
  content: "";
  display: table;
  clear: both;
}
@media (max-width: 375px) {
  .container h1 {
    font-size: 16vw;
  }
}
.show-me {
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
.show-me_d1 {
  transition-delay: 500ms!important;
}
.show-me_d2 {
  transition-delay: 1500ms!important;
}
.show-me_d3 {
  transition-delay: 3000ms!important;
}
.show-me_d4 {
  transition-delay: 4500ms!important;
}
.show-me_d5 {
  transition-delay: 6000ms!important;
}
.show-me.isee {
  opacity: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}
h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white {
  color: #ffffff;
}
h1.r-font,
h2.r-font,
h3.r-font,
h4.r-font,
h5.r-font,
h6.r-font {
  font-weight: 400;
}
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
  font-weight: 700;
  display: inline-block;
}
header {
  box-sizing: border-box;
  position: fixed;
  font-family: 'Roboto Slab', serif;
  height: 130px;
  color: #FFFFFF;
  width: 100%;
  z-index: 1;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  transition: all ease-in-out 0.5s;
  z-index: 2;
}
header .header-imagem {
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 1;
  transition: all ease-in-out 0.5s;
}
header .header-imagem a {
  display: inline-block;
}
header .header-imagem .logo-branco {
  width: 120px;
  transition: all ease-in-out 0.5s;
}
header .header-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 20px;
  width: 50px;
  height: 50px;
  transition: all ease-in-out 0.5s;
  transform: rotate(0deg);
}
header .header-nav span {
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease-in-out 0.5s;
}
header .header-nav span:after,
header .header-nav span:before {
  content: '';
  position: absolute;
  width: 50px;
  height: 3px;
  background: #ffffff;
  transition: all ease-in-out 0.5s;
}
header .header-nav span:after {
  top: -23.5px;
}
header .header-nav span:before {
  top: 23.5px;
}
header .header-menu {
  transition: all ease-in-out 0.5s;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 0;
  font-weight: 400;
}
header .header-menu a {
  display: inline-block;
  padding: 5px 0px;
  margin: 0 10px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
header .header-menu a img {
  display: inline-block;
  margin: -5px;
}
header .header-menu a:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: ' ';
  width: 0%;
  height: 1px;
  background: #FFFFFF;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s 0.2s;
}
header .header-menu a:hover:after {
  width: 100%;
  height: 3px;
}
header.scroll {
  height: 70px;
  background: rgba(38, 26, 50, 0.75);
}
header.scroll .header-menu {
  padding: 0px;
}
header.scroll .header-imagem {
  top: 5px;
}
header.scroll .header-imagem .logo-branco {
  width: 60px;
}
@media (max-width: 700px) {
  header .header-nav {
    display: block;
  }
  header .header-menu {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    width: 90%;
    box-sizing: border-box;
  }
  header .header-menu a {
    display: block;
  }
  header.ativo {
    background: rgba(38, 26, 50, 0.75);
    height: 100%;
  }
  header.ativo .header-menu {
    height: 100%;
    opacity: 1;
    padding-top: 140px;
  }
  header.ativo .header-nav {
    transform: rotate(360deg);
  }
  header.ativo .header-nav span {
    background: transparent;
  }
  header.ativo .header-nav span:after,
  header.ativo .header-nav span:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 3px;
    background: #ffffff;
  }
  header.ativo .header-nav span:after {
    top: 0;
    transform: rotate(45deg);
  }
  header.ativo .header-nav span:before {
    top: 0;
    transform: rotate(-45deg);
  }
  header.scroll .header-nav {
    top: 10px;
  }
  header.scroll.ativo .header-menu {
    padding-top: 80px;
  }
}
#sobre {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}
#sobre .col {
  color: #fff;
  text-align: justify;
}
#sobre .col-foto {
  text-align: center;
}
#sobre .sobre-foto {
  display: inline-block;
  max-width: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url(../img/foto.jpg);
  box-shadow: 0px 0px 0px 3px #ffffff;
  transition: all ease-in-out 0.2s;
}
#sobre .sobre-foto span {
  display: block;
  width: 100%;
  padding-bottom: 100%;
}
#sobre .sobre-foto:hover {
  background-image: url(../img/foto-hover.jpg);
  box-shadow: 0px 0px 0px 7px #ffffff;
}
@media (max-width: 887px) {
  #sobre .sobre-foto {
    max-width: 200px;
  }
}
.break {
  background-color: #308787;
  color: #261A32;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}
.break .bloco-ab {
  background: #261A32;
  color: #308787;
  transition: all ease-in-out 0.2s;
  box-shadow: 0px 0px 0px 0px #ffffff;
}
.break .bloco-ab-right {
  max-width: 220px;
  right: 20px;
}
.break .bloco-ab-left {
  max-width: 120px;
  left: 20px;
}
.break .bloco-ab a {
  color: #308787;
}
.break .bloco-ab:hover {
  box-shadow: 0px 0px 0px 7px #ffffff;
}
.break h2 {
  box-shadow: -5px 0px 0px 0px #308787;
  margin-top: 0px;
  padding: 0 10px;
}
.break ul {
  margin: 5px 0;
  padding: 0 25px;
}
.break img {
  position: absolute;
  bottom: 20px;
  display: block;
  margin: 10px;
}
@media (max-width: 1120px) {
  .break .bloco-ab {
    font-size: 14px;
  }
  .break h2 {
    margin-bottom: 5px;
    font-size: 16px;
  }
}
@media (max-width: 887px) {
  .break .bloco-ab-right {
    margin-left: auto;
  }
  .break .bloco-ab-left {
    margin-right: auto;
  }
  .break h1 {
    text-align: center;
  }
  .break img {
    position: static;
    padding-bottom: 15px;
  }
}
@media (max-width: 887px) {
  .col {
    padding: 0 10px;
  }
  .bloco-ab {
    position: static;
    margin: 15px auto;
    max-width: 500px;
    width: 100%;
  }
  .bloco-ab .bloco-ct {
    position: static;
    padding: 15px;
  }
}
@media (min-width: 888px) {
  .col {
    line-height: 25px;
    float: left;
    box-sizing: border-box;
  }
  .col_space {
    padding: 0 7.5px;
  }
  .col_1 {
    width: 8.33333333%;
  }
  .col_2 {
    width: 16.66666667%;
  }
  .col_3 {
    width: 25%;
  }
  .col_4 {
    width: 33.33333333%;
  }
  .col_5 {
    width: 41.66666667%;
  }
  .col_6 {
    width: 50%;
  }
  .col_7 {
    width: 58.33333333%;
  }
  .col_8 {
    width: 66.66666667%;
  }
  .col_9 {
    width: 75%;
  }
  .col_10 {
    width: 83.33333333%;
  }
  .col_11 {
    width: 91.66666667%;
  }
  .col_12 {
    width: 100%;
  }
  .col:after {
    content: "";
    display: table;
    clear: both;
  }
  .bloco-ab {
    position: relative;
    box-sizing: border-box;
    margin: 15px 0;
  }
  .bloco-ab .bloco-ct {
    position: absolute;
    top: 0;
    padding: 15px;
  }
  .bloco-ab-1 {
    padding-bottom: 70%;
  }
  .bloco-ab-2 {
    padding-bottom: 100%;
  }
  .bloco-ab-3 {
    padding-bottom: 130%;
  }
}
.col-center {
  text-align: center;
}
.col-center h1 {
  text-align: left;
}
.col-t_t1,
.col-t_t2,
.col-t_t3 {
  text-align: left;
  box-sizing: border-box;
  max-width: 310px;
  width: 100%;
  display: inline-block;
}
.col-t.col_space {
  padding: 7.5px;
}
#portfolio {
  font-family: 'Raleway', sans-serif;
  background-color: #E0D74F;
  color: #261A32;
}
#portfolio .col {
  padding: 10px;
}
#portfolio h2 {
  box-shadow: -5px 0px 0px 0px #261A32;
}
#portfolio h2 span {
  display: inline-block;
  padding-left: 5px;
}
#portfolio .portfolio-box {
  display: block;
  position: relative;
  overflow-y: hidden;
  width: 100%;
  padding-bottom: 70%;
  background-color: #261A32;
  box-shadow: 0px 0px 0px 0px #ffffff;
  transition: all ease-in-out 0.2s;
  background-size: cover;
  color: #E0D74F;
}
#portfolio .portfolio-box:hover {
  transform: scale(1.1, 1.1);
  z-index: 1;
  box-shadow: 0px 0px 0px 7px #ffffff;
}
#portfolio .portfolio-box:hover .portfolio-agencia {
  height: 15px;
  margin-bottom: 15px;
}
#portfolio .portfolio-1 {
  background-image: url(../img/portfolio/icon-1.png);
}
#portfolio .portfolio-2 {
  background-image: url(../img/portfolio/icon-2.png);
}
#portfolio .portfolio-3 {
  background-image: url(../img/portfolio/icon-3.png);
}
#portfolio .portfolio-4 {
  background-image: url(../img/portfolio/icon-4.png);
}
#portfolio .portfolio-5 {
  background-image: url(../img/portfolio/icon-5.png);
}
#portfolio .portfolio-6 {
  background-image: url(../img/portfolio/icon-6.png);
}
#portfolio .portfolio-7 {
  background-image: url(../img/portfolio/icon-7.png);
}
#portfolio .portfolio-8 {
  background-image: url(../img/portfolio/icon-8.png);
}
#portfolio .portfolio-titulo {
  display: block;
  position: absolute;
  font-size: 28px;
  bottom: 5px;
  left: 10px;
  line-height: 33px;
  color: #ffffff;
}
#portfolio .portfolio-titulo span {
  font-size: 20px;
  display: block;
  color: #E0D74F;
}
#portfolio .portfolio-agencia {
  height: 0;
  transition: all ease-in-out 0.2s;
  font-size: 15px;
  color: #E0D74F;
}
#portfolio .portfolio-agencia:before {
  content: 'Agencia: ';
}
