@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');
body {
  background: #261A32;
  min-height: 200vw;
}
.carregando {
  width: 100%;
  height: 100vh;
  z-index: 9999;
  background: #FFDCC6;
  position: fixed;
  transition: opacity ease-in-out 0.75s, margin-top linear 0s 0.75s;
  opacity: 1;
  margin-top: 0;
}
.carregando.ok {
  margin-top: -100vh;
  opacity: 0;
}
@-webkit-keyframes titulo-show {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@keyframes titulo-show {
  0% {
    top: 30px;
    opacity: 0;
  }
  100% {
    top: 0px;
    opacity: 1;
  }
}
@-webkit-keyframes ver-mais {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 7.5vh;
  }
  100% {
    bottom: 5vh;
  }
}
@keyframes ver-mais {
  0% {
    bottom: 5vh;
  }
  50% {
    bottom: 7.5vh;
  }
  100% {
    bottom: 5vh;
  }
}
.ver-mais {
  width: 100%;
  height: 112vw;
  max-height: 100vh;
  position: absolute;
}
.ver-mais a {
  display: inline-block;
  position: absolute;
  bottom: 5vh;
  right: 45px;
  transform: translateX(-50%);
  transition: all ease-in-out 0.2s;
  -webkit-animation: ver-mais 4s infinite;
  animation: ver-mais 4s infinite;
}
.ver-mais__titulo {
  position: absolute;
  bottom: 45px;
  left: 45px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  font-size: 45px;
}
.ver-mais__titulo span {
  font-weight: 700;
}
@media (max-width: 770px) {
  .ver-mais__titulo {
    font-size: 5.85vw;
  }
}
@media (max-width: 700px) {
  .ver-mais a {
    display: none;
  }
}
.banner-parallax {
  background: #A96FEF;
  background: -webkit-linear-gradient(-135deg, #A96FEF, #FFB700);
  background: linear-gradient(-135deg, #A96FEF, #FFB700);
  overflow: hidden;
  padding-bottom: 56.2%;
  position: relative;
  z-index: -2;
}
.banner-parallax__titulo {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 30px;
  opacity: 0;
  padding-top: 150px;
  text-align: center;
  position: absolute;
  transition: all ease-in-out 100ms;
  z-index: -1;
}
.banner-parallax__titulo.ok {
  -webkit-animation: titulo-show 2s forwards;
  animation: titulo-show 2s forwards;
}
.banner-parallax__titulo .logo {
  transform: scale(2, 2);
}
.banner-parallax #prllx {
  width: 100%;
  display: block;
  position: absolute;
  transition: all ease-in-out 100ms;
  z-index: -1;
}
@media (max-width: 1000px) {
  .banner-parallax {
    padding-bottom: 84.3%;
  }
  .banner-parallax img,
  .banner-parallax__titulo {
    transition: all ease-in-out 10ms;
  }
  .banner-parallax #prllx {
    width: 150%;
  }
}
@media (max-width: 700px) {
  .banner-parallax {
    padding-bottom: 112.4%;
  }
  .banner-parallax #prllx {
    width: 200%;
  }
}
@media (max-width: 600px) {
  .banner-parallax__titulo {
    font-size: 10.8vw;
  }
  .banner-parallax__titulo span {
    font-size: 7.5vw;
  }
}
@media (max-width: 440px) {
  .banner-parallax__titulo .logo {
    width: 200px;
  }
}
@media (max-width: 330px) {
  .banner-parallax__titulo .logo {
    display: none;
  }
}
header {
  box-sizing: border-box;
  position: fixed;
  font-family: 'Roboto Slab', serif;
  height: 130px;
  color: #FFFFFF;
  width: 100%;
  z-index: 1;
  padding: 15px;
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  transition: all ease-in-out 0.2s;
}
header .header-imagem {
  position: absolute;
  left: 15px;
  transition: all ease-in-out 0.5s;
}
header .header-imagem a {
  display: inline-block;
}
header .header-imagem .logo-branco {
  width: 120px;
  transition: all ease-in-out 0.5s;
}
header .header-nav {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 25px;
  right: 15px;
  width: 80px;
  height: 80px;
}
header .header-nav span {
  position: absolute;
  display: block;
  width: 80px;
  height: 10px;
  background: #ffffff;
  top: 50%;
  transform: translateY(-50%);
}
header .header-nav span:after,
header .header-nav span:before {
  content: '';
  position: absolute;
  width: 80px;
  height: 10px;
  background: #ffffff;
}
header .header-nav span:after {
  top: -35px;
}
header .header-nav span:before {
  top: 35px;
}
header .header-menu {
  transition: all ease-in-out 0.2s;
  position: absolute;
  right: 15px;
  height: 60px;
  box-sizing: border-box;
  padding: 15px 0;
  font-weight: 400;
}
header .header-menu a {
  display: inline-block;
  padding: 5px 0px;
  margin: 0 10px;
  text-decoration: none;
  color: #FFFFFF;
  position: relative;
}
header .header-menu a:after {
  position: absolute;
  top: 100%;
  left: 0;
  content: ' ';
  width: 0%;
  height: 1px;
  background: #FFFFFF;
  transition: width ease-in-out 0.2s, height ease-in-out 0.2s 0.2s;
}
header .header-menu a:hover:after {
  width: 100%;
  height: 3px;
}
header.scroll {
  background: rgba(38, 26, 50, 0.75);
}
header.scroll .header-imagem .logo-branco {
  width: 100px;
}
@media (max-width: 700px) {
  header .header-nav {
    display: block;
  }
  header .header-menu {
    height: 0px;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    width: 90%;
    box-sizing: border-box;
  }
  header .header-menu a {
    display: block;
  }
  header.ativo {
    background: rgba(38, 26, 50, 0.75);
    height: 100%;
  }
  header.ativo .header-menu {
    height: 100%;
    opacity: 1;
    padding-top: 140px;
  }
}
