header{
	box-sizing: border-box;
	position: fixed;
	font-family: 'Roboto Slab', serif;
	height: 130px;
	color: @header-main;
	width: 100%;
	z-index: 1;
	font-size: 25px;
	font-weight: 700;
	line-height: 30px;
	text-transform: uppercase;
	transition: all ease-in-out .2s;
	.header-imagem{
		position: absolute;
		top: 15px;
		left: 15px;
		transition: all ease-in-out .5s;
		a{
			display: inline-block;
		}
		.logo-branco{
			width: 120px;
			transition: all ease-in-out .5s;
		}
	}
	.header-nav{
		display: none;
		cursor: pointer;
		position: absolute;
		top: 35px;
		right: 15px;
		width: 60px;
		height: 60px;
		transition: all ease-in-out .5s;
		span{
			position: absolute;
			display: block;
			width: 60px;
			height: 5px;
			background: #ffffff;
			top: 50%;
			transform: translateY(-50%);
			&:after,&:before{
				content: '';
				position: absolute;
				width: 60px;
				height: 5px;
				background: #ffffff;
			}
			&:after{
				top: -27.5px;
			}
			&:before{
				top: 27.5px;
			}
		}
	}
	.header-menu{
		transition: all ease-in-out .5s;
		position: absolute;
		right: 15px;
		top: 15px;
		height: 60px;
		box-sizing: border-box;
    	padding: 15px 0;
    	font-weight: 400;
		a{
			display: inline-block;
			padding: 5px 0px;
			margin: 0 10px; 
			text-decoration: none;
			color: @header-main;
			position: relative;
			&:after{
				position: absolute;
				top: 100%;
				left: 0;
				content: ' ';
				width: 0%;
				height: 1px;
				background: @header-main;
				transition: width ease-in-out .2s,height ease-in-out .2s .2s;
			}
			&:hover{
				&:after{
					width: 100%;
					height: 3px;
				}
			}
		}
	}
	&.scroll{
		height: 70px;
		.header-menu{
			padding: 0px;
		}
		.header-imagem{
			top: 5px;
			.logo-branco{
				width: 60px;
			}
		}
		background: rgba(38, 26, 50, .75);
	}
	@media (max-width:700px){
		.header-nav{
			display: block;
		}
		.header-menu{
			height: 0px;
			opacity: 0;
			overflow: hidden;
			padding: 0;
			width: 90%;
			box-sizing: border-box;
			a{
				display: block;
			}
		}
		&.ativo{
			background: rgba(38, 26, 50, .75);
			height: 100%;
			.header-menu{
				height: 100%;
				opacity: 1;
				padding-top: 140px;
			}
		}
		&.scroll{
			.header-nav{
				top: 5px;
			}
			&.ativo{
				.header-menu{
					padding-top: 80px;
				}
			}
		}
	}
}