#sobre{
	text-align: center;
	font-family: 'Raleway', sans-serif;
	.col{
		color: #fff;
		text-align: justify;
		&-foto{
			text-align: center;
		}
	}
	.sobre-foto{
		display: inline-block;
		max-width: 400px;
		width: 100%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-image: url(../img/foto.jpg);
		box-shadow: 0px 0px 0px 3px #ffffff;
		transition: all ease-in-out .2s;
		span{
			display: block;
			width: 100%;
			padding-bottom: 100%;
		}
		&:hover{
			background-image: url(../img/foto-hover.jpg);
			box-shadow: 0px 0px 0px 7px #ffffff;
		}
		@media (max-width:887px){
			max-width: 200px;
		}
	}
}
.break{
	background-color: @color-4;
	color: @prllx-color1;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	.bloco-ab{
		background: @prllx-color1;
		color: @color-4;
		&-right{
			max-width: 220px;
			right: 20px;
		}
		&-left{
			max-width: 120px;
			left: 20px;
		}
	}
	h2{
		//box-shadow: -5px 0px 0px 0px @prllx-color1;
		box-shadow: -5px 0px 0px 0px @color-4;
		margin-top: 0px;
		padding: 0 10px;
	}
	ul{
		margin: 5px 0;
    	padding: 0 25px;
	}
	img{
		position: absolute;
		bottom: 20px;
		display: block;
		margin: 10px;
	}
	@media (max-width:1120px){
		.bloco-ab{
			font-size: 14px;
		}
		h2{
			margin-bottom: 5px;
			font-size: 16px;
		}
	}
	@media (max-width:887px){
		.bloco-ab{
			&-right{
				margin-left: auto;
			}
			&-left{
				margin-right: auto;
			}
		}
		h1{
			text-align: center;
		}
		img{
			position: static;
			padding-bottom: 15px;
		}
	}
}